[submodule "manufacture"]
	path = manufacture
	url = http://github.com/oca/manufacture
[submodule "server-tools"]
	path = server-tools
	url = http://github.com/oca/server-tools
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = http://github.com/oca/purchase-workflow
[submodule "stock-logistic-warehouse"]
	path = stock-logistic-warehouse
	url = http://github.com/oca/stock-logistic-warehouse
[submodule "server-ux"]
	path = server-ux
	url = http://github.com/oca/server-ux
[submodule "ddmrp"]
	path = ddmrp
	url = http://github.com/oca/ddmrp
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = http://github.com/oca/stock-logistics-workflow
