[submodule "manufacture"]
	path = manufacture
	url = http://github.com/oca/manufacture
    branch = 11.0
[submodule "server-tools"]
	path = server-tools
	url = http://github.com/oca/server-tools
    branch = 11.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = http://github.com/oca/purchase-workflow
    branch = 11.0
[submodule "server-ux"]
	path = server-ux
	url = http://github.com/oca/server-ux
    branch = 11.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = http://github.com/oca/stock-logistics-workflow
    branch = 11.0
[submodule "manufacture-reporting"]
	path = manufacture-reporting
	url = https://github.com/OCA/manufacture-reporting.git
    branch = 11.0
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = https://github.com/OCA/stock-logistics-warehouse.git
[submodule "ddmrp"]
	path = ddmrp
	url = https://github.com/Eficent/ddmrp.git
